body, html
    line-height: 1
    font-weight: 200
    font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',Arial, Helvetica, sans-serif
// 使用伪类:after清楚浮动
.clearfix
    display: inline-block
    &:after
        display: block
        content: "."
        height: 0
        line-height: 0
        clear: both
        visibility: hidden