
// 使用mixin.styl进行css代码封装，函数。
border-1px($color)
    position: relative
    &::after
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        border-top: 1px solid $color
        content: ''                 // 伪类内容''空'