
// 使用mixin.styl进行css代码封装，函数（底部线条）。
border-1px($color)
    position: relative
    &::after
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        border-top: 1px solid $color
        content: ''                 // 伪类内容''空'

//  处理图片对应2x还是3x
bg-image($url)
  background-image: url('img/'+$url+'@2x.png')
  @media(-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
    background-image: url('img/'+$url+'@3x.png')
  }